.app{
  background-color: black;
  align-items: center;
  color: black;
}
.btn{
  width: 100px;
  height: 30px;
  border: 1px solid rgb(2, 208, 249);
  background-color: rgb(2, 208, 249);
  color: rgb(5, 5, 5);
  font-size: 20px;
  cursor: pointer;
}